@import "./reset.css";
@import "./settings.css";
@import "./fonts.css";


.wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* header */

header {
    width: 100%;
    background-color: #3A1C17;
}

header .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-name {
    margin-left: 8px;
    min-width: 130px;
}

.logo-container {
    display: flex;
}

.logo-container a , .container-info  a {
    color:#fff;
    text-decoration: none;
}

.container-info {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.header-info {
    display: flex;
    padding: 38px 0 38px 0;
    margin: 0 100px 0 100px;
    justify-content: space-between;
}

.contacts {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.phone-number {
    min-width: 185px;
    white-space: pre-line;
}

.phone {
    width: 28px;
    height: 28px;
    padding-right: 16px;
}

.header-info .logo-icon { 
    width: 36px;
    height: 48px;
}

 .schedule {
    display: flex;
    margin: 5px 20px 0 20px;
    align-items: center;
}

.work-time {
    min-width: 125px;
    white-space: pre-line;
}

.watch {
    width: 30px;
    height: 30px;
    padding-right: 15px;
}

.cart {
    width: 60px;
    height: 60px;
    border: 2px solid #fdf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon {
   width: 30px;
   height: 28px;
}

/* navigation */

nav {
    width: 100%;
    height: 76px;
    background-color:#331712;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 23px 0 0 25px;
}

nav li {
    margin-left: 78px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

 nav .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.menu-link::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #ad1120;
    position: absolute;
    left: 0;
    bottom: -7px;
    opacity: 0;
    transform: translateY(10px) rotate(2deg);
    transition: all 0.25s;
}

.menu-link {
    position: relative;
}

.menu-link:hover::before {
    opacity: 1;
    transform: translateY(0px) rotate(0deg);
    transition: all 0.25s;
    transform-origin: bottom;
}
/* wr-intro */

.wr-intro {
    background-image: url("../media/main-page/header/optimization/bg-cake-1x.webp");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding:90px 0 181px 0; 
}


.wr-intro .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1240px;
}

.intro-block {
    width: max-content;
    margin-left: auto;

}
.wr-intro p {
    font-family:"Montserrat-SemiBold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    color: #fff;
    padding-bottom: 50px;
    white-space: pre-line;
}

.wr-intro h1 {
    padding-bottom: 50px;
    white-space: pre-line;
}

.button-text {
    color: #fff;
    text-decoration: none;
} 

.button {
    height: 64px;
    width: 246px;
    background: #ad1120;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color:  #99111f;
}

/* wr-about-us */

.wr-about-us {
    padding: 80px 0 80px 0;
}

.wr-about-us .title {
    font-family:"Montserrat-Bold", sans-serif;
    font-style: normal;
    font-size: 35px;
    line-height: 43px;
    color: #3A1C17;
    text-align: center;
}

.number {
    font-family:"Montserrat-Bold", sans-serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #ad1120;
    padding-right: 20px;
    width: 27px;
}

.block-title {
    font-family:"Montserrat-SemiBold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #3a1c17;
}

.discription {
    color: #3a1c17;
    padding-top: 20px;
    text-align: left;
    white-space: pre-line;
}

.about-us {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 56px;
    padding: 0 80px 0 100px;
}

.about-us-block {
    display: flex;
    width: 100%;
    max-width: 514px;
    padding-bottom: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* our-sweets */

.our-sweets .title {
    font-family: "Montserrat-Bold", sans-serif;
    font-style: normal;
    font-size: 35px;
    line-height: 43px;
    color: #3A1C17;
    text-align: center;
}

/* tabs */



.catalog-item {
    width: 379px;
}  
  
.photo img {
    width: 379px;
    height: 292px;
}
.name-weight p {
    color:  #3a1c17;
}

.name-weight p:last-child {
    opacity: 0.5;
}

.name-weight {
    padding: 15px 0 15px 0;
}

.price-card p{
    font-family:"Montserrat-Medium", sans-serif;
    font-style: normal;
    color: #ad1120;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

.price-card, .name-weight {
    display: flex;
    justify-content: space-between;
}

.bakery-products, .cakes, .cupcakes, .donuts, .drinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    padding: 20px;
}

/* reviews */

.wr-reviews {
    width: 100%;
    background-color: #3a1c17;
    padding: 50px 0 50px 0;
}

.swiper {
    position: relative;
}

.swiper-button-prev {
    position: absolute;
    top:56%;
    color: #fff;
}

.swiper-button-next {
    position: absolute;
    top:56%;
    color: #fff;
} 

.swiper-button-prev:active, .swiper-button-next:active {
    color: red;
    transition: 0s;
}  

.swiper-container {
    padding-left: 25px;
}

.wr-reviews .title {
    font-family:"Montserrat-Bold", sans-serif;
    font-style: normal;
    font-size: 35px;
    line-height: 43px;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
}

.reviews-container {
    display: flex;  
    padding-top: 50px; 
    justify-content: space-around; 
}

.review-text {
    line-height: 20px;
    text-align: left;
    opacity: .7;
}

.review-text p{
    padding-bottom: 20px;
}       

.wr-reviews .text {
    width: 480px;
}

.container-item {
    display: flex;
    min-width: 522px;
}

.review-icon {
    padding-right: 28px;
}

.discription p {
    font-family:"Montserrat-Medium", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.discription {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* application */

.wr-application {
    display: flex;
    justify-content: center;
}

.wr-application .title {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #3a1c17;
}

.wr-application .wrapper {
    height: 620px;
    background-image: url(../media/main-page/shipping-payment/flowers-1x.webp);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 86%;
    background-size: cover;
    background-position: center;
}

.application-info {
    padding-top: 30px;
}
.application-info .title, .discription {
    white-space: pre-line;
}
.wr-application .discription {
    padding-top: 49px;
}

.wr-application .button {
    margin-top: 49px;
}

/* shipping and payment */

.shipping .title {
    font-family:"Montserrat-Bold", sans-serif;
    font-style: normal;
    font-size: 35px;
    line-height: 43px;
    color: #3a1c17;
    padding-bottom: 35px;
}

.discription-text {
    color: #000;
    min-width: 510px;
}

.discription-text p {
    white-space: pre-line;
    padding-bottom: 15px;
}

.shipping .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 80px 11px;
}
.shipping-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.shipping .up-button {
    margin-top: 185px;
    padding-right: 5px;
}

/* footer */

.logo-name {
    margin-left: 8px;
    min-width: 130px;
    white-space: pre-line;
}

.logo-container {
    display: flex;
}

.footer {
    width: 100%;
    height: 198px;
    background-color: #3a1c17;
}

.footer-info {
    margin-left: 100px;
    display: flex;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-right: 100px;
    justify-content: space-between;
}

.footer .container-info {
    flex-basis: 65%;
}


.footer .logo {
    padding-bottom: 30px;
}

.location {
    display: flex;
    margin-top:5px;
    min-width: 210px;
    align-items: center;
}

.footer-discription .discription-text {
    font-size: 15px;
    line-height: 18px;
    color: #fcf;
    opacity: 0.5;
} 

.icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 40px;
    padding-left: 106px;
    padding-right: 56px;
}

.instagram {
    margin-left: 20px;
    margin-right: 20px;
} 

